aside {
  color: white;
  background-color: #6d1f36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 500px;
}

aside i {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 2rem 0;
}

aside .title {
  text-align: center;
  font-size: 3em;
}

aside .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #000;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
}

aside .card .removecart {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

aside .card .image-holder {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0.25rem 1rem;
  padding: 0.25rem;
  width: 300px;
  height: 100px;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 31px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 31px -17px rgba(0, 0, 0, 0.75);
}

aside .card .image-holder img {
  width: 100%;
}

aside .card .details {
  margin: 0 1rem;
}

aside .card .details .details-title {
  padding-bottom: 1.25rem;
}

aside .card .details .price {
  font-size: 2rem;
}

aside .card .details .additions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

aside .card .details .additions i {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0;
}

aside .card .details .additions .qty {
  padding: 0 1rem;
  font-size: 2rem;
}

aside .total {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

aside .total .subtotal {
  font-size: 3rem;
}

aside .total .btn {
  margin-top: 1rem;
  border-radius: 0.25rem;
  height: 0.5rem;
  color: #ffffff;
  font-family: Arial;
  font-size: 24px;
  font-weight: 300;
  padding: 1.5rem;
  background-color: #cfcfcf;
  -webkit-box-shadow: 2px 4px 4px 0px #000000;
  box-shadow: 2px 4px 4px 0px #000000;
  border: solid #000000 1px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

aside .total .btn:hover {
  background: #ededed;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ededed),
    to(#e0e0e0)
  );
  background-image: linear-gradient(to bottom, #ededed, #e0e0e0);
  text-decoration: none;
}

.deletebtn {
  border: none;
  outline: none;
}
.active,
.deletebtn:hover {
  color: goldenrod;
}
.minusbtn {
  border: none;
  outline: none;
}
.active,
.minusbtn:hover {
  color: goldenrod;
}

.plusbtn {
  border: none;
  outline: none;
}
.active,
.plusbtn:hover {
  color: goldenrod;
}

.confirmBtn {
  background-color: #fff;
  border: 1px solid #000;
}

.confirmBtn:hover{
  background-color: #797979;
  border: 1px solid #000;
}