.coffeecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid #000;
  background-color: bisque;
  width: 31%;
  .headerAndImage {
    h1 {
      font-size: 2rem;
      color: #6d1f37;
      text-align: center;
      font-weight: bold;
    }
    .imageContainer {
      padding: 0.25rem;
      text-align: center;
      img {
        border: 1px solid #000;
        padding: 0.25rem;
      }
    }
  }
  .coffeeDescription {
    font-size: 16px;
    flex: 1 0 auto;
    text-align: center;
    font-style: italic;
  }
  .coffeeOptionsBox {
    display: flex;
    flex-direction: column;
    .decaf,
    .size,
    .milk {
      display: flex;
      flex-direction: column;
      align-items: center;
      .options {
        display: flex;
        flex-direction: row;
        .cupSize {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: flex-end;
          align-items: center;
          padding: 1rem;
          .input {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.25rem;
          }
        }
      }
    }
  }
  .cartBox {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    span {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}
