.navbar {
  display: flex;
  flex-direction: row;
  background-color: #6d1f37;
  border-bottom: 0.05rem solid lightgray;
  justify-content: space-around;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
  align-items: baseline;
}
