.navbar {
  display: flex;
  flex-direction: row;
  background-color: #6d1f37;
  border-bottom: 0.05rem solid lightgray;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
  align-items: baseline;
  .logo {
    background-color: #fff;
    .logo_image {
      width: 48px;
      height: 48px;
    }
  }

  .navbar_btn {
    padding: 0 1rem;
  }
}
